.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home__content {
  width: 90%;
}

@media (min-width: 576px) {
  .home__content {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .home__content {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .home__content {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .home__content {
    width: 50%;
  }
}
